#main {
  font-family: sans seriff;
  background-color: darkgray;
  width: 100%;
 text-align: start;
}
#title{
 font-family: sans seriff;
 font-size: 24px;
 text-align: center;
}
@media(max-width: 800px)
{ #title{
  font-family: sans seriff;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
}
#description{
 text-align: center;
 font-family: sans serif;
 font-size: 20px;
}
#image{
height: auto;
max-width: 70%;
margin-left: auto;
margin-right: auto;
display: block;
background-color: white;
}
@media(min-width:320px){
  #image{
    height: auto;
    max-width:100%;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
}
#img-caption{
 margin: 10px;
 font-family: monospace;
 font-size: 15px;
}
#img-div{
  background-color: white;
}
#Tribute-Info{
 width: 60%;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: start;
}
#Tribute-link{
 text-align: center;
 margin-top: 50px;
 margin-bottom: 30px;
}
#top{
 text-align: center;
}
